@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_Layout.cshtml";
    var rows = 5;
}

@inject IStringLocalizer<SharedResources> sharedLocalizer
<h4>@sharedLocalizer["Profile"]</h4>

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.Partial("_ManageNav")
        </div>
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" disabled />
            </div>
            <form-control-text-box asp-for="Input.FirstName"></form-control-text-box>
            <form-control-text-box asp-for="Input.LastName"></form-control-text-box>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <form-control-text-area asp-for="Input.Description" asp-rows="@rows"></form-control-text-area>
            <button type="submit" class="btn btn-default">@sharedLocalizer["Save"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
