@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "/Views/Shared/_Layout.cshtml";

}

<h4>@sharedLocalizer["PersonalData"]</h4>
@inject IStringLocalizer<SharedResources> sharedLocalizer

<div class="row">
    <div class="col-md-6">
        <p>@sharedLocalizer["DataDesc"]</p>
        <p>
            <strong>@sharedLocalizer["DataDeletion"]</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">@sharedLocalizer["Download"]</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-danger">@sharedLocalizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}