@page
@model ERP.Web.Areas.Provider.Pages.Organization.IndexModel

@{
    ViewData["Title"] = "Index";
}


@inject IStringLocalizer<SharedResources> sharedLocalizer

<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom:15px;">
    <div class="navbar-brand">@sharedLocalizer["Organizations"] </div>
</nav>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Phone)
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel("OrganizationList")
    </tbody>
</table>
