@page


@model IndexModel

@{
}

@inject IStringLocalizer<SharedResources> sharedLocalizer

<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom:15px;">
    <div class="navbar-brand">@sharedLocalizer["News"] </div>
</nav>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InputNews[0].NrIntern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InputNews[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InputNews[0].CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InputNews[0].CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel("NewsList")
    </tbody>
</table>

<a asp-page="Create" class="btn btn-primary" >@sharedLocalizer["CreateNews"]</a>
