<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERP System</title>

    <link rel="stylesheet" href="~/css/globalCss.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

@inject IStringLocalizer<SharedResources> sharedLocalizer
@inject IHttpContextAccessor httpAccessor
@inject UserManager<User> userManager
@{
    var userSessionValue = httpAccessor.HttpContext.Session.GetString("__UserSession");
    var userSession = JsonConvert.DeserializeObject<UserSession>(userSessionValue);

    var user = await userManager.GetUserAsync(User);
    var roles = await userManager.GetRolesAsync(user);
    bool seeOrderProcess = roles.Contains("SuperAdmin") || roles.Contains("Order") || roles.Contains("StockReceipt") || roles.Contains("Invoice");
    bool seeOrder = roles.Contains("SuperAdmin") || roles.Contains("Order");
    bool seeInvoice = roles.Contains("SuperAdmin") || roles.Contains("Invoice");
    bool seeStockReceipt = roles.Contains("SuperAdmin") || roles.Contains("StockReceipt");
    bool seeSupplier = roles.Contains("SuperAdmin") || roles.Contains("Supplier");
    bool seeCustomer = roles.Contains("SuperAdmin") || roles.Contains("Customer"); 
}

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/cbfxv-h6xqh.svg" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="HomeMenu">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">@sharedLocalizer["Home"]</a>
                </li>

                <li class="nav-item" id="OrganizationMenu">
                    <a asp-area="" asp-controller="Organizations" asp-action="Edit" asp-route-id="@userSession.OrganizationID" class="nav-link">@sharedLocalizer["Organization"]</a>
                </li>

                @if (seeOrderProcess)
                {
                    <li class="nav-item dropdown" id="OrderProcessMenu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @sharedLocalizer["OrderProcess"]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (seeOrder)
                            {
                                <a class="dropdown-item" asp-area="OrderProcess" asp-controller="Orders" asp-action="Index">@sharedLocalizer["Order"]</a>
                                <div class="dropdown-divider"></div>
                            }
                            @if (seeStockReceipt)
                            {
                                <a class="dropdown-item" href="#">@sharedLocalizer["StockReceipt"]</a>
                                <div class="dropdown-divider"></div>

                            }
                            @if (seeInvoice)
                            {
                                <a class="dropdown-item" href="#">@sharedLocalizer["Invoice"]</a>
                                <div class="dropdown-divider"></div>
                            }
                        </div>
                    </li>
                }

                @if (seeSupplier)
                {
                    <li class="nav-item" id="SupplierMenu">
                        <a asp-area="" asp-controller="Suppliers" asp-action="Index" class="nav-link">@sharedLocalizer["Supplier"]</a>
                    </li>
                }
                @if (seeCustomer)
                {
                    <li class="nav-item" id="CustomerMenu">
                        <a asp-area="" asp-controller="Customers" asp-action="Index" class="nav-link">@sharedLocalizer["Customer"]</a>
                    </li>
                }


                @if (roles.Contains("SuperAdmin"))
                {
                    <li class="nav-item dropdown" id="AdministrationMenu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @sharedLocalizer["Administration"]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-area="Administration" asp-page="/News/Index" class="dropdown-item">@sharedLocalizer["News"]</a>
                            <div class="dropdown-divider"></div>
                            <a asp-area="Administration" asp-page="/Users/Index" class="dropdown-item">@sharedLocalizer["Users"]</a>
                        </div>
                    </li>
                }


                @if (userSession.IsSuperProvider && roles.Contains("SuperAdmin"))
                {
                    <li class="nav-item dropdown" id="OwnerMenu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @sharedLocalizer["Owner"]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-area="Provider" asp-page="/Organization/Index" class="dropdown-item">@sharedLocalizer["Organizations"]</a>
                        </div>
                    </li>
                }


            </ul>

            <partial name="_LoginPartial" />

        </div>
    </nav>



    <partial name="_CookieConsentPartial" />

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @sharedLocalizer["ERPSystem"]</p>
        </footer>
    </div>

    <script src="~/js/globalJs.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
