@model IEnumerable<ERP.Models.Order>

@inject IStringLocalizer<SharedResources> sharedLocalizer

@foreach (var item in Model)
{
    <tr>
        <td>
            <a asp-area="OrderProcess" asp-controller="Orders" asp-action="Edit" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.NrIntern)</a>
        </td>
        <td>
            <a asp-area="OrderProcess" asp-controller="Orders" asp-action="Edit" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountNet)
        </td>
        <td>
        <td>
            <form method="post">
                <input name="id" id="id" value="@item.ID" type="hidden" />
                <button type="submit" asp-area="OrderProcess" asp-controller="Orders" class="btn btn-danger" asp-route-id="@item.ID" asp-action="Delete">@sharedLocalizer["Delete"]</button>
            </form>
        </td>
    </tr>
}



